@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    --background-nav: rgb(7, 170, 69);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

#heading {
    text-align: left;
    margin: 0;
    padding: 0.5rem 20px;
    background-color: #237D1B;
    color: rgb(253, 226, 0);
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0.5rem;
    overflow: hidden;
    background-color: var(--background-nav);
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(253, 226, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a.nav:hover {
    cursor: pointer;
    background-color: rgb(10, 209, 87);
}

#address-info {
    margin-top: 2em;
}

#address {
    margin: 0;
    outline: none;
    border: 1px black solid;
    font-family: 'Roboto Mono', monospace;
}

#copy {
    font-family: 'Roboto Mono', monospace;
    background-color: var(--background-nav);
    border: none;
    color: rgb(253, 226, 0);
    padding: 4px 8px;
    cursor: pointer;
}

#copy:hover {
    background-color: rgb(10, 209, 87);
}